<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<h1>Расписание</h1>
<table>
    <tr th:each="doctor : ${doctor}">
        <td th:text="${doctor.name}"></td>
    </tr>
</table>
<input type="button" value="Добавить нового доктора" onclick="window.location.href='/doctor/add'">
<input type="button" value="Добавить нового пациента" onclick="window.location.href='/patient/add'">
<br><br>
<input type="button" value="Список докторов" onclick="window.location.href='/doctor/show'">
<input type="button" value="Список пациентов" onclick="window.location.href='/patient/show'">
</body>
</html>